.textLayers {
  flex-direction: column;
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  min-width: 0;
}
.textLayers > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.textLayers > :global(.__wab_flex-container) > *,
.textLayers > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.textLayers > :global(.__wab_flex-container) > picture > img,
.textLayers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.slotTargetTitle {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--token-Dz_AF2OjX);
  line-height: 100%;
  letter-spacing: 0em;
}
.slotTargetSubtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--token-xSlNtzVmV);
  line-height: 100%;
  letter-spacing: 0em;
}
